Repository strangelove-ventures/interchaintest, pull requests merged in 2024-07, with the labels that each got.

#1152 feat(local-ic): add version cmd
  local-interchain/Makefile
  local-interchain/cmd/local-ic/main.go
Labels: local-interchain

#1151 feat(local-interchain): docker compose
  Dockerfile.local-interchain
  docker-compose.yml
  go.sum
  local-interchain/go.mod
  local-interchain/go.sum
Labels: local-interchain

#1149 chore(deps): june bumps + fix release CI
  .github/workflows/chores.yml
  .github/workflows/release.yml
  go.mod
  go.sum
  local-interchain/Makefile
  local-interchain/go.mod
  local-interchain/go.sum
Labels: dependencies, local-interchain

#1175 feat: allow consumers to have different keys than providers
  chain/cosmos/cosmos_chain.go
  chain/cosmos/ics.go
  docs/envOptions.md
  examples/ibc/ics_test.go
  go.mod
  go.sum
  ibc/types.go
  local-interchain/go.mod
  local-interchain/go.sum
Labels: BACKPORT
