Repository strangelove-ventures/interchaintest, pull requests merged in 2024-03, with the labels that each got.

#999 ux: use relative path for chains if applicable
  go.work.sum
  local-interchain/cmd/local-ic/root.go
Labels: local-interchain

#1007 feat: local-ic native cli interaction
  local-interchain/chains/base_ibc.json
  local-interchain/chains/cosmoshub.json
  local-interchain/chains/juno_ibc.json
  local-interchain/chains/stargaze.json
  local-interchain/cmd/local-ic/interaction.go
  local-interchain/cmd/local-ic/main.go
Labels: local-interchain

#1009 feat: replace broadcaster's account retriever to use chain's bech32 prefix when converting AccAddress to string
  chain/cosmos/account_retriever.go
  chain/cosmos/address.go
  chain/cosmos/broadcaster.go
Labels: BACKPORT

#1006 chore(deps): fix open security issues for SOC 2
  .github/workflows/lint.yml
  go.mod
  go.sum
  go.work.sum
  local-interchain/rust/Cargo.lock
Labels: dependencies

#1022 feat: support remote JSON configs
  go.mod
  go.sum
  go.work.sum
  local-interchain/cmd/local-ic/start_chain.go
  local-interchain/go.mod
  local-interchain/go.sum
  local-interchain/interchain/config.go
  local-interchain/interchain/start.go
  local-interchain/interchain/types/types.go
Labels: local-interchain

#989 feat[v7]: support interchain security in local-interchain
  local-interchain/chains/interchainsecurity.json
  local-interchain/interchain/start.go
  local-interchain/interchain/types/chain.go
Labels: local-interchain
